<div class="logo-container">
  <a href="index.html" class="logo">
    <img src="../assets/common/img/logo.png" alt="Clean UI Admin Template" />
    <img class="logo-inverse" src="../assets/common/img/logo-inverse.png" alt="Clean UI Admin Template" />
  </a>
</div>
<div class="left-menu-inner scroll-pane">
  <ul class="left-menu-list left-menu-list-root list-unstyled">
    <li class="left-menu-list-active">
      <a class="left-menu-link" href="index.html">
        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
        <span class="menu-top-hidden">Home</span>
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-profile.html">
        <i class="left-menu-link-icon icmn-profile"><!-- --></i>
        Accounts
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-messaging.html">
        <i class="left-menu-link-icon icmn-bubbles5"><!-- --></i>
        Sites
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-mail.html">
        <i class="left-menu-link-icon icmn-mail2"><!-- --></i>
        Assets
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-calendar.html">
        <i class="left-menu-link-icon icmn-ticket"><!-- --></i>
        Tickets
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-truck"><!-- --></i>
        Dispatch
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-calendar"><!-- --></i>
        Schedule
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-library2"><!-- --></i>
        Branches
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-cube"><!-- --></i>
        Inventory
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-books"><!-- --></i>
        Accounting
      </a>
    </li>
    <li>
      <a class="left-menu-link" href="apps-gallery.html">
        <i class="left-menu-link-icon icmn-file-css"><!-- --></i>
        Reports
      </a>
    </li>

    <li class="menu-top-hidden no-colorful-menu">
      <div class="left-menu-item">
        Last Week Sales
      </div>
    </li>
    <li class="menu-top-hidden no-colorful-menu">
      <div class="example-left-menu-chart chartist-animated chartist-theme-dark"></div>
    </li>
    <li class="menu-top-hidden no-colorful-menu">
      <div class="left-menu-item">
        Solar System
      </div>
    </li>
    <li class="menu-top-hidden">
      <div class="left-menu-item">
        <span class="donut donut-success"></span> Jupiter
      </div>
    </li>
    <li class="menu-top-hidden">
      <div class="left-menu-item">
        <span class="donut donut-primary"></span> Earth
      </div>
    </li>
    <li class="menu-top-hidden">
      <div class="left-menu-item">
        <span class="donut donut-danger"></span> Mercury
      </div>
    </li>
  </ul>
</div>

