
<nav class="left-menu" left-menu>
  <app-menu-left></app-menu-left>
</nav>
<nav class="top-menu">
<app-menu-top></app-menu-top>
</nav>

<section class="page-content">
  <div class="page-content-inner">
    <div class="dashboard-container">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <div class="widget widget-seven background-success">
            <div class="widget-body">
              <div href="javascript: void(0);" class="widget-body-inner">
                <h5 class="text-uppercase">Week Sales</h5>
                <i class="counter-icon icmn-cash3"></i>
                <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                $<span class="counter-init">942</span>
                            </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <div class="widget widget-seven background-default">
            <div class="widget-body">
              <div href="javascript: void(0);" class="widget-body-inner">
                <h5 class="text-uppercase">Server Uptime</h5>
                <i class="counter-icon icmn-server"></i>
                <span class="counter-count">
                                <i class="icmn-arrow-down5"></i>
                                <span class="counter-init">99</span>%
                            </span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>