
<nav class="left-menu" left-menu>
  <app-menu-left></app-menu-left>
</nav>
<nav class="top-menu">
<app-menu-top></app-menu-top>
</nav>

<section class="page-content">
  <div class="page-content-inner">
    <div class="dashboard-container" style="width: 100%">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'books'" [title]="'Accounts'" [count]="38"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'city'" [title]="'Sites'" [count]="1565"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'design'" [title]="'Assets'" [count]="3250"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'insert-template'" [title]="'Tickets'" [count]="3294"></app-small-step-block>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'truck'" [title]="'Dispatch'" [count]="19"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'calendar'" [title]="'Schedule'" [count]="9"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'office'" [title]="'Branches'" [count]="1705"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'cogs'" [title]="'Parts'" [count]="139"></app-small-step-block>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'hammer'" [title]="'Request Parts'" [count]="26"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'cart5'" [title]="'Purchase Order'" [count]="11"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'user'" [title]="'Goods Recipient'" [count]="15"></app-small-step-block>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'users'" [title]="'Suppliers'" [count]="10"></app-small-step-block>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
          <app-small-step-block [class]="''" [icon]="'factory'" [title]="'Warehouse'" [count]="38"></app-small-step-block>
        </div>

      </div>
    </div>
  </div>
</section>