<body class="theme-default single-page single-page-inverse">

<section class="page-content">
  <div class="page-content-inner" style="background-image: url(../assets/common/img/temp/login/4.jpg)">

    <!-- Login Page -->
    <div class="single-page-block-header">
      <div class="row">
        <div class="col-lg-4">
          <div class="logo">
            <a href="javascript: history.back();">
              <img src="../assets/common/img/logo.png" alt="Clean UI Admin Template">
            </a>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="single-page-block-header-menu">
            <ul class="list-unstyled list-inline">
              <li><a href="javascript: history.back();">← Back</a></li>
              <li class="active"><a href="javascript: void(0);">Login</a></li>
              <li><a href="javascript: void(0);">About</a></li>
              <li><a href="javascript: void(0);">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="single-page-block">
      <div class="single-page-block-inner effect-3d-element" style="transform-origin: center 50% 0px; transform: matrix3d(0.998587, 0, 0.0531432, -0.0000531432, -0.00637775, 0.992773, 0.119841, -0.000119841, -0.0527592, -0.120011, 0.99137, -0.00099137, 0, 0, 0, 1);">
        <div class="blur-placeholder" style="background-image: url(assets/common/img/temp/login/4.jpg;); width: 1263px; height: 247px; left: -381.5px; top: 64px;"><!-- --></div>
        <div class="single-page-block-form">
          <h3 class="text-center">
            <i class="icmn-enter margin-right-10"></i>
            Login Form
          </h3>
          <br>
          <form id="form-validation" name="form-validation">
            <div class="form-group">
              <input id="validation-email" [(ngModel)]="username" class="form-control" placeholder="Email or Username" name="validation[email]" data-validation="[EMAIL]" type="text">
            </div>
            <div class="form-group">
              <div class="input-append  input-group"><input id="validation-password" [(ngModel)]="password" class="form-control password" name="validation[password]" data-validation="[L>=6]" data-validation-message="$ must be at least 6 characters" placeholder="Password" type="password"><input class="form-control password" placeholder="Password" style="display: none;" type="text"><span tabindex="100" title="Click here to show/hide password" class="add-on input-group-addon" style="cursor: pointer;"><i class="icon-eye-open  icmn-eye"></i></span></div>
            </div>
            <div class="form-group">
              <a href="javascript: void(0);" class="pull-right">Forgot Password?</a>
              <div class="checkbox">
                <label>
                  <input name="example6" checked="" type="checkbox">
                  Remember me
                </label>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary width-150" (click)="login()">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="single-page-block-footer text-center">
      <ul class="list-unstyled list-inline">
        <li><a href="javascript: void(0);">Terms of Use</a></li>
        <li class="active"><a href="javascript: void(0);">Compliance</a></li>
        <li><a href="javascript: void(0);">Confidential Information</a></li>
        <li><a href="javascript: void(0);">Support</a></li>
        <li><a href="javascript: void(0);">Contacts</a></li>
      </ul>
    </div>
    <!-- End Login Page -->

  </div>

  <!-- Page Scripts -->
  <script>

  </script>
  <!-- End Page Scripts -->
</section>
<div class="main-backdrop"><!-- --></div>


</body>